<ion-app class="">
  <!-- Menú lateral -->
<ion-menu class="min-padding" contentId="main-content" mode="ios" side="start" menuId="mainMenu">
  <ion-header >
    <ion-toolbar color="transparent">
      <ion-title>Arfa App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Perfil con gradiente -->
    <div class="menu-profile">
      <ion-avatar>
        <img src="assets/avatar.png" alt="User Avatar" />
      </ion-avatar>
      <div class="profile-info">
        <h2>{{currentUser}}</h2>
        <p>@usuario123</p>
      </div>
    </div>

    <!-- Opciones -->
    <ion-list lines="none">
      <ion-item routerLink="/tabs/home">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item routerLink="/tabs/notification">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-item>

      <ion-item routerLink="/tabs/profile">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item routerLink="/tabs/setting">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Ajustes</ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer>
     <ion-toolbar>
    <ion-list lines="none">
      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
    </ion-toolbar>
  </ion-footer>
</ion-menu>



  <!-- Contenido principal (los tabs) -->
  <div class="ion-page min-padding" id="main-content">
    <ion-tabs mode="ios">

      <ion-tab-bar slot="bottom" class="tab-bar-safe">
        <!-- Settings -->
        <ion-tab-button tab="setting" href="/tabs/setting">
          <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
          <ion-label>Ajustes</ion-label>
        </ion-tab-button>

        <!-- Home -->
        <ion-tab-button tab="home" href="/tabs/home">
          <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>

        <!-- Notifications -->
        <ion-tab-button tab="notification" href="/tabs/notification">
          <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </div>
</ion-app>
